:root {
    --dark-purple: rgb(14, 1, 27);
    --light-purple: rgb(72, 34, 112);
}

.hero {
    background: url("../images/banner-image.jpg");
    background-size: cover;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    height: 500px;
}

.nav-link:hover {
    color: rgb(202, 164, 200) !important;
    text-shadow: 2px 2px #6d1c62c5;
}

.navbar {

    background: var(--dark-purple) !important;

}

.card {

    width: 35rem !important;
}

.work {

    padding-bottom: 15px;

    background: linear-gradient(var(--dark-purple), var(--light-purple));
}

.skills {

    padding-bottom: 15px;

    background: linear-gradient(var(--light-purple), var(--dark-purple));
}

.contactme {
    background: linear-gradient(var(--dark-purple), var(--light-purple));
    padding-bottom: 15px;
    color: white;

}

footer {
    background: linear-gradient(var(--light-purple), var(--dark-purple));
    padding-bottom: 15px;
}



footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: red;
}

.customFooter {
    width: 150px;

}

.btn:hover {
    box-shadow: 10px 5px 5px var(--dark-purple) !important;
}

.subSection {
    font-size: 60px;
}